.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px $color;
  a {
    padding: 20px 15px;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
      background-color: $hover;
    }
  }
  &__logo {
    letter-spacing: 4px;
  }
  &__burger {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__link {
    i {
      margin-right: 4px;
    }
  }
}

@media (max-width: 601px) {
  .header__burger {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    padding: 29px 22px;
    &:hover {
      background-color: $hover;
    }
    span, &::before, &::after {
      display: block;
      width: 13px;
      height: 2px;
      background-color: #000;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.3s ease 0s;
    }
    span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before, &::after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      top: 24px;
    }
    &::after {
      bottom: 24px;
    }
    &.active span{
      transform: scale(0);
    }
  
    &.active:before{
      top: 33px;
      left: 50%;
      transform:rotate(50deg) translateX(-50%);
    }
    &.active:after{
      bottom: 33px;
      left: 50%;
      transform:rotate(-50deg) translateX(-50%);
    }
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    padding: 20px 0px;
    transition: all 0.5s ease 0s;
    &.active {
      left: 0;
    }
  }
  .header__list {
    display: block;
  }
  
  .header__link {
    display: block;
    width: 100%;
    color: #fff !important;
    i {
      display: none;
    }
  }
}