*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
html, 
body {
  font-family: $mainff;
  font-size: $fz;
  font-weight: 400;
  min-height: 100%;
}
a {
  text-decoration: none;
} 
ul {
  list-style: none;
}

#about, #design, #team, #work, #pricing, #contact {
  padding: 128px 36px;
  text-align: center;
  
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
  }
}
.text {
  font-size: 18px;
}


